<div class="content-wrapper">
    <!--!-->
    <!--!--><div class="page-header page-header-light">
        <!--!-->
        <div class="page-header-content header-elements-md-inline">
            <!--!-->
            <div class="page-title d-flex" style="padding:1rem 0">
                <!--!-->

                <h4><i class="icon-search4 mr-2"></i> <span class="font-weight-semibold">Find a service</span></h4><!--!-->
            </div><!--!-->

        </div><!--!-->

    </div><!--!-->
    <!--!--><div class="content" style="padding: 10px;">
        <!--!-->
        <!--!-->
        <!--!-->
        <!--!--><!--!-->
        <style type="text/css">
            #searchMap {
                height: 95%;
                width: 100%;
                bottom: 0px;
            }
        </style>

        <!--!-->
        <div class="row">
            <div class="col-md-12">
                <div class="form-group-feedback form-group-feedback-left">
                    <input class="form-control basicAutoComplete" type="text" autocomplete="off" placeholder="Search for a service eg. plumber etc." id="SkillSearch" >
                    <div class="form-control-feedback">
                        <i class="icon-search4 font-size-base text-muted"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="map" style="position: absolute; overflow: hidden; right: 11px; bottom: 51px; top: 163px; left: 280px;">

        </div>
    </div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfRO0tpa7dR_LnUO2Oo6wszSnUs6LP4W4&callback=initMap&libraries=&v=weekly" defer></script>

