<div id="stat">
    <div style="display:none">Loading...</div>
    <div class="card" style="margin-top:20%">
        <div class="card-header header-elements-inline alert bg-success alert-styled-left animation" data-animation="bounceInDown">
            <h6 class="card-title">Payment successful</h6>
            <div class="header-elements">
                <div class="list-icons">

                </div>
            </div>
        </div>

        <div class="card-body">
            Your payment was successful. Service Provider will contact you soon.
        </div>
    </div>
</div>