<div class="content-wrapper" style="overflow: hidden; text-align: center;">
    <div style="margin: 25px;" >
        <div>
            <div><img id="ProviderLogo" width="128" style="border-radius: 64px; box-shadow: grey 0px 0px 7px;" /></div>
            <div style="padding-top: 15px; font-size: 22px; font-weight: bold; " id="ProviderName"></div>
            <div id="terms" style=" width: 50%; margin-left: 25%; text-align: justify;"></div>
        </div>
        <div style="width: 50%; margin-left: 25%;">
            <textarea placeholder="Give us more detail about the service you require..." style="width: 100%; height: 150px;" id="details"></textarea>
        </div>
        <div class="row" style="width: 50%; margin-left: 25%;">

                <input id="fromDate" placeholder="From Date" />
            
                <input id="toDate" placeholder="To Date" />
            <button id="requestBtn" onclick="SubmitRequest()">Submit Request</button>
        </div>
        
        
    </div>
</div>
